* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: radial-gradient(circle at top left, #181023, #0b0519);
  font-family: "Poppins", sans-serif;
  color: #c3b3d8;
}
